body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}


.pageName{
    text-align: center;
    padding-top: 15px;
}

.logo{
    margin: 0px;
}

.col-4, .col-8{
    margin-top: 30px;
}

.aboutHeader{
    font-size: 25px;
    font-weight: bold;
}

img{
    max-width: 100%;  
    height: auto;
}

.nav-link{
    font-size: 20px;
    color: black;
}

.form-select{
    margin-left: 100px;
}

.form-select{
    margin: 0px;
}


.btn btn-outline-success{
    margin-left: 10px;
}

.form-select{
    padding: 6px 12;
    height: 38px;
    border-radius: 5px;
}

.col{
    margin-top: 30px;
}

.row{
    margin-bottom: 30px;
}

.learnMore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addMargin{
    margin-top: 20px;
}

.addMarginAgn{
    margin-bottom: 50px;
    display: grid;
    place-items: center;
}

.catPicInfo{
    margin-bottom: 20px;
}

.eventPic{
    justify-items: center;
}


/* YUZET'S CSS */
h4{
    padding-bottom: 5px;
}
.inputGroup{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.inputBox{
    width: 100%;
    margin-right: 12px;
    position: relative;
}
.inputBox:last-child{
    margin-right: 0;
}
.name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid black;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: black;
}
.name:focus, .dob:focus{
    border: 1px solid #cccccc;
}
.name:focus{
    background-color: #cccccc;
    color: white;
    border-right: 1px solid #cccccc;
    border: none;
    transition: 1s;
}
.dob{
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}
.radio{
    display: none;
}
.inputBox label{
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid grey ;
}
.inputBox label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.inputBox label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label{
    background-color: #cccccc;
    color: white;
    transition: 0.5s;
}
.inputBox select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.2s ease;
}
.inputBox select:focus{
    background-color: #cccccc;
    color: white;
    text-align: center;
}
button{
    width: 100%;
    background: transparent;
    border: none;
    background: #cccccc;
    color: white;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}
button:hover{
    cursor: pointer;
    background: #cccccc;
}

/* END OF YUZET'S CSS */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.eventText{
    text-align: center;
}

.navbar-beige{
    background-color: beige;
}