.pageName{
    text-align: center;
    padding-top: 15px;
}

.logo{
    margin: 0px;
}

.col-4, .col-8{
    margin-top: 30px;
}



.aboutHeader{
    font-size: 25px;
    font-weight: bold;
}

img{
    max-width: 100%;  
    height: auto;
}

.nav-link{
    font-size: 20px;
    color: black;
}

.form-select{
    margin-left: 100px;
}

.form-select{
    margin: 0px;
}


.btn btn-outline-success{
    margin-left: 10px;
}

.form-select{
    padding: 6px 12;
    height: 38px;
    border-radius: 5px;
}

.col{
    margin-top: 30px;
}

.row{
    margin-bottom: 30px;
}

.learnMore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addMargin{
    margin-top: 20px;
}

.addMarginAgn{
    margin-bottom: 50px;
    display: grid;
    place-items: center;
}